<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<!--pulling js from our js folder in static-->
<script type="text/javascript" src="/js/library.js"></script>

<!--th thymeleaf lets it know well be using variable from the backend-->
<script th:inline="javascript">

const HOST_NAME	     = [[${publicIp}]]
const DRONE_ID       = [[${droneId}]]
const VIDEO_ENDPOINT = [[${videoEndpoint}]]

const videoStreamClient = new VideoStreamClient(DRONE_ID, HOST_NAME, 80, VIDEO_ENDPOINT)

$(document).ready( function(){
    // video + droneId
   $("img").attr("id", "video" + DRONE_ID)
   videoStreamClient.activateStream()
});

</script> 

<title>Rover Video Stream</title> 

</head>

<body>  
    <img style="width: 100%;" src="../unable-to-establish-connection.jpg" />
</body>
</html>